<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" type="text/html" href="/stat/css/docform.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="padding: 0px; margin: 0px;">
    <img src="/img/blurback.png" alt="background" style=" background-size: cover; position: absolute; background-repeat: no-repeat; height:100%; width:100%; background-size:cover; z-index: -1000; top: 0px; background-color: #f4f4f4;">
    <section id="appointment" class="appointment section-bg" style="background-image: url(/img/blurback2.png); width: 80%; margin-left: 10%; border-radius:15px; margin-top: 8%;">
        <div class="section-title">
            <a href="/" class="close-btn fa fa-times" style="float: right; margin-right: 40px; margin-top: 20px;  font-size: 22px;  cursor: pointer; color: #fff;  text-decoration: none;  justify-content: center;"></a>
          </div>
    <form action="https://docs.google.com/forms/u/5/d/e/1FAIpQLSeCkMHfuoETv_31EsG2L2vmrRPDBOtUscUdJiBNDFUhIezqjw/formResponse" style="padding: 80px 0px;">  
      <div class="row1" ><input name="entry.2038811104" type="text" id="subject" placeholder="Your Name" required style="width: 80%; padding: 10px 10px; margin-left: 10%; border-radius: 15px; border: none; outline: none; margin-bottom: 10px;" /></div>  
        <div class="row2"><input name="entry.712437446" type="email" id="email" placeholder="Your email" required style="width: 80%; padding: 10px 10px; margin-left: 10%; border-radius: 15px; border: none; outline: none; margin-bottom: 10px;" /> </div>
        <div class="row3"> <input name="entry.362428623"  type="text" id="phone" placeholder="Phone Number" required style="width: 80%; padding: 10px 10px; margin-left: 10%; border-radius: 15px; border: none; outline: none; margin-bottom: 10px;" /> </div>
        <div class="row4"><input name="entry.960263963" type="text" id="certlink" placeholder="Your Certificate Link" required style="width: 80%; padding: 10px 10px; margin-left: 10%; border-radius: 15px; border: none; outline: none; margin-bottom: 10px;" /></div>
        <div class="row5"><input name="entry.450697848" type="text" id="socialid" placeholder="Your LinkdIn Profile" required style="width: 80%; padding: 10px 10px; margin-left: 10%; border-radius: 15px; border: none; outline: none; margin-bottom: 10px;" />  </div>
        <div class="row6">  <button  type="submit" value="Submit" id="but" style="width: 30%; padding: 10px 10px; margin-left: 35%; border-radius: 15px; border: none; outline: none; margin-bottom: 10px;"/> Submit</button></div>
    </form>
    </section>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
  </script>
</body>
</html>