<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Donate Us</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="/positivae/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/positivae/icofont/icofont.min.css" rel="stylesheet">
  <link href="/positivae/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/positivae/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/positivae/venobox/venobox.css" rel="stylesheet">
  <link href="/positivae/aos/aos.css" rel="stylesheet">
  <link href="/positivae/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/jquery.convform.css">
  <link href="/css/donateus.css" rel="stylesheet">
</head>
<body>
<img src="/img/blurback.png" alt="background" style=" background-size: cover; position: absolute; background-repeat: no-repeat; height:100%; width:100%; background-size:cover; z-index: -1000; top: 0px; background-color: #f4f4f4;">
<section id="pay-form" class="pay-form section-bg" style="background-image: url(/img/blurback2.png);">
  <div class="container">
    <div class="section-title"> 
      <a href="/#footer" class="close-btn fa fa-times"></a>
    </div>
    <form action="forms/pay-form.php" method="post" role="form" class="php-email-form">
      <div class="form-row">
        <div class="col-md-12 form-group">
          <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
        </div>
      </div>
        <div class="form-row">
        <div class="col-md-12 form-group">
          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12 form-group">
          <input type="text" name="name" class="form-control" id="phone" placeholder="Phone" required>
        </div>
      </div>
        <div class="form-row">
        <div class="col-md-12 form-group">
          <input type="number" class="form-control" name="email" id="Amount In Rupees" placeholder="Amount In Rupees" required>
        </div>
      </div>
      <div class="text-center"><button type="submit" href="">SUBMIT</button></div>
    </form>
  </div>
</section>
<div class="chat_icon">
	<i class="icofont-robot" aria-hidden="true"></i>
</div>
<div class="chat_box">
	<div class="my-conv-form-wrapper">
		<form action="" method="GET" class="hidden">
      <select data-conv-question="Hello! How can I help you" name="category">
        <option value="WebDevelopment">Website Development ?</option>
        <option value="DigitalMarketing">Digital Marketing ?</option>
      </select>
      <div data-conv-fork="category">
        <div data-conv-case="WebDevelopment">
          <input type="text" name="domainName" data-conv-question="Please, tell me your domain name">    
        </div>
        <div data-conv-case="DigitalMarketing" data-conv-fork="first-question2">
          <input type="text" name="companyName" data-conv-question="Please, enter your company name"> 
        </div>
      </div>
      <input type="text" name="name" data-conv-question="Please, Enter your name">
      <input type="text" data-conv-question="Hi {name}, <br> It's a pleasure to meet you." data-no-answer="true">
      <input data-conv-question="Enter your e-mail" data-pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" type="email" name="email" required placeholder="What's your e-mail?">
      <select data-conv-question="Please Confirm">
        <option value="Yes">Confirm</option>
      </select>
  	</form>
	</div>
</div>
  <script>
    const logout = document.getElementById('logout');
    logout.addEventListener('click', (e) => {
        e.preventDefault();
        auth.signOut().then(() => {
            console.log("signed out");
        });
    });
</script>
  <script src="/positivae/jquery/jquery.min.js"></script>
  <script src="/positivae/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/positivae/jquery.easing/jquery.easing.min.js"></script>
  <script src="/positivae/php-email-form/validate.js"></script>
  <script src="/positivae/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/positivae/owl.carousel/owl.carousel.min.js"></script>
  <script src="/positivae/venobox/venobox.min.js"></script>
  <script src="/positivae/aos/aos.js"></script>
  <script src="/positivae/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.convform.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>